body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

.logo {
    font-family: 'Kdam Thmor Pro', sans-serif;
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    text-align: left;
}

.buttons {
    display: inline-block;
    float: right;
    margin-right: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.buttonBIG {
    display: inline-block;
    padding: 30px 70px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

.buttonchoose {
    display: inline-block;
    padding: 20px 40px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 25px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #555;
}

/* Dropdown styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: #333;
    color: white;
    margin-top: 25px;
    margin-right: 20px;
    border-radius: 5px;
    padding: 10px;
    right: 0;
    top: 40px;
}

.dropdown a {
    display: block;
    text-decoration: none;
    color: white;
    margin: 5px 0;
}

.buttons:hover .dropdown {
    display: block;
}

#billi{
    width: 400px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

p{
    font-family: 'Caladea', serif;
    font-size: 31px;
    margin: 100px;
    margin-top: 150px;
}
