<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASL</title>
    <link rel="stylesheet" type="text/css" href="..\static\css\style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caladea:ital@1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <h1 class="logo">American Sign Language (ASL)</h1>
        <div class="buttons">
            <div class="button">Contact Us
                <div class="dropdown">
                    <h4> Mail us as abcd@gmail.com for any feedback or Issues</h4>
                </div>
            </div>
        </div>
    </div>


    <div style="display:flex">
        <div>
            <img src="http://drive.google.com/uc?export=view&id=1v9s3Nrjc2kBeDjQvXwOeuXYtB2Fd0zPV" alt="" width="800px">

        </div>
        <p>
            Welcome to our ASL Alphabet Image Recognition web application—a powerful tool leveraging machine learning to instantly recognize and interpret American Sign Language (ASL) hand signs. Seamlessly bridging communication gaps, our user-friendly interface empowers learners and fosters inclusivity for the deaf community.
            <br>
            <button onclick="window.location.href = 'prediction.html'" class="buttonBIG">Let's Predict</button>
        </p>
        
    </div>

</body>

</html>